<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
</head>
<body>
    <h1>Image Gallery</h1>
    <ul>
        {% for image in images %}
            <li>
                <p>{{ image[0] }}</p>
                <p>{{ image[1] }}</p>
                <p>{{ image[2] }}</p>
                <p>{{ image[3] }}</p>
                <img src="{{ url_for('static', filename='images/' + image[4]) + '.jpg' }}" alt="{{ image[4] }}" width="300" height="200" >
            </li>
        {% endfor %}
    </ul>
</body>
</html>